[submodule "coursedata"]
	path = coursedata
	url = git@github.com:AaltoVision/CV_course_py_2019_data.git
[submodule "notebooks"]
	path = notebooks
	url = git@github.com:AaltoVision/CV_course_py_2019_notebooks.git
